<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-between mb-4">
        	<div>
        		
        	</div>
        	<div class="time-box">
	        	<div class="border rounded"th:each="post : ${postList}">
	        		<div class="d-flex justify-content-between">
		        		<div class = "p-2"><i class="bi bi-person-fill"></i>밍</div>
						<div class="p-2"><i class="bi bi-three-dots-vertical"></i></div>
	        		</div>
	        		<img class= "w-100" th:src="${post.imagePath}">        	
		        	<div class="p-2">
		        		<div class="mt-2" th:text="${post.contents}"><b>밍</b></div>
		        		<div class="mt-2 ml-1">
							<i class="bi bi-heart-fill text-danger unlike-icon"></i>1
							<i class="bi bi-chat-left ml-2"></i>1
		        		</div>
					</div>
					<hr>
					<div class="comment-box">
						<div class="p-2">
							<b>댓글</b> 귀여워
						</div>
						<div class="d-flex justify-content-between p-2">
							<input type="text" class="mr-1 form-control col-10" placeholder="댓글 달기">
							<button type="button" class="btn btn-info col-2 comment-btn">게시</button>
						</div>
					</div>
	        	</div>
        	</div>
	        	<a href="/post/create-view" class="d-flex align-items-end" style= "bottom: 80px; right: 100px;">
	            	<i class="bi bi-plus-circle-fill text-dark" style="font-size: 50px;"></i>
	       		</a>        	
        </section>
</html>