<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">

		<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div class="input-box mb-5">
				<div class="border p-5 rounded">
					<h1 class="text-center">Waste of Life</h1>
					<div class="text-center mt-3">친구들의 사진과 동영상을<br>
					보려면 가입하세요.</div>
					<div class="d-flex">
						<input type="text" class="form-control mt-4" id="userIdInput" placeholder="아이디">
						<button class= "btn btn-info mt-4 ml-2" id="duplicateBtn">중복확인</button>					
					</div>
					<div class="text-danger small d-none" id="duplicateText">중복된 아이디 입니다</div>
					<div class="text-info small d-none" id="availableText">사용가능한 아이디 입니다.</div>
					<input type="password" class="form-control mt-3" id="passwordInput" placeholder="비밀번호">
					<input type="password" class="form-control mt-3" id="passwordConfirmInput" placeholder="비밀번호 확인">
					<input type="text" class="form-control mt-3" id="nameInput" placeholder="성명">
					<input type="text" class="form-control mt-3" id="nicknameInput" placeholder="사용자 이름">
					<button class= "btn btn-info btn-block mt-4" id="joinBtn">가입하기</button>				
				</div>
				<div class="border mt-3 p-4 rounded">
					<div class="text-center">계정이 있으신가요? <a href="/user/login-view">로그인</a></div>
				</div>
			</div>
		</section>
		
		<script layout:fragment="script">
			$(document).ready(function(){
				
				var isduplicateCheck = false; //전역변수
				var isduplicateId = true;
				
				$("#duplicateBtn").on("click", function() {
					let userId = $("#userIdInput").val();
					
					if(userId == "") {
						alert("아이디를 입력하세요");
						return ;
					}
					
					$.ajax({
						type:"get"
						, url:"/user/duplicate-id"
						, data:{"userId":userId}
						, success:function(response) {
							isduplicateCheck = true;
							if(response.isDuplicate) {
								$("#duplicateText").removeClass("d-none");
								$("#availableText").addClass("d-none");
								isduplicateId = true;
							} else {
								$("#availableText").removeClass("d-none");
								$("#duplicateText").addClass("d-none");
								isduplicateId = false;
							}
							
						}
						, error:function() {
							alert("중복확인 에러!");
						}
					});
				});
				
				$("#userIdInput").on("input", function() {
					isduplicateCheck = false;
					isduplicateId = true;
					$("#duplicateText").addClass("d-none");
					$("#availableText").addClass("d-none");
				});
				
				
				$("#joinBtn").on("click", function() {
					let userId = $("#userIdInput").val();
					let password = $("#passwordInput").val();
					let passwordConfirm = $("#passwordConfirmInput").val();
					let name = $("#nameInput").val();
					let nickname = $("#nicknameInput").val();
					
					if(userId == "") {
						alert("아이디를 입력하세요");
						return;
					}
					
					if(password == "") {
						alert("비밀번호를 입력하세요");
						return;
					}
					
					if(password != passwordConfirm) {
						alert("비밀번호가 일치하지 않습니다.");
						return;
					}
					
					if(name == "") {
						alert("이름을 입력하세요");
						return;
					}
					
					if(nickname == "") {
						alert("사용자 이름을 입력하세요");
						return;
					}
					
					if(!isduplicateCheck) {
						alert("중복확인을 해주세요");
						return;
					}
					
					if(isduplicateId) {
						alert("중복된 아이디 입니다");
						return;
					}
					
					$.ajax({
						type:"post"
						, url: "/user/join"
						, data:{"userId":userId, "password":password, "name":name, "nickname":nickname}
						, success:function(response) {
							if(response.result == "success") {
								alert("회원가입이 완료되었습니다.")
								location.href = "/user/login-view";
							} else {
								alert("회원가입 실패");
							}
						}
						, error:function() {
							alert("회원가입 에러");
						}
					});
				});
				
			});
		</script>

</html>