<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Waste of life</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
	<div id="wrap">
		<header></header>
		<section class="contents d-flex justify-content-center mb-5">
			<div class="my-5">
				<img width="285" src="/static/images/life.png">
			</div>
			<div class="input-box my-5 ml-5">
				<div class="border p-5 rounded">
					<h1 class="text-center">Waste of Life</h1>
					<input type="text" class="form-control mt-5" placeholder="전화번호, 사용자 이름 또는 이메일">
					<input type="password" class="form-control mt-2" placeholder="비밀번호">
					<button class= "btn btn-info btn-block mt-4" >로그인</button>				
				</div>
				<div class="border mt-4 p-4 rounded">
					<div class="text-center">계정이 없으신가요? <a href="/user/join-view">가입하기</a></div>
				</div>
			</div>
		</section>
		<footer class="border-top d-flex justify-content-center align-items-center">
			<div class="text-secondary small">Copyright 2024. Waste of Life from Meta.</div>
		</footer>
	</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>